.Notifications {
    border: 1px dashed #e61919;  
    margin: 0.2rem 0.3rem;            
}


.Notifications li[data-priority="default"] {
    color: rgb(3, 3, 75); 
}

.Notifications li[data-priority="urgent"] {
    color: red;   
}

.menuItem {
    padding: 0.7rem 1rem 0 0;
    position: absolute;
    right: 0;
}