.Notifications {
    border: 1px dashed #e61919;  
    margin: 0.2rem 0.3rem;            
}


li[data-notification-type='default'] {
    color: blue;
}

li[data-notification-type='urgent'] {
    color: red;
}

.menuItem {
    padding: 0.7rem 1rem 0 0;
    position: absolute;
    right: 0;
}


.Notifications {
    display: flex;
    text-align:justify;
    justify-content: right;
    padding-bottom: 0.2rem;   
}
