.App-header {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
    border-bottom: 0.2rem solid rgb(241, 62, 62);
    margin: 0.4rem;
  }
  
  .App-header h1 {
    color: rgb(241, 62, 62);
    font-weight: bold;
  }