.App {
  text-align: left;
  background-color: white;
  min-height: 100vh;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color:white;
  display: flex;
  text-align: left;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px 2px;
  gap: 20px;
  border-bottom: 3px solid rgb(247, 72, 72);
}

.App-header h1 {
  color: rgb(247, 72, 72);
  margin-top: 90px;
  font-size: 1.9rem;
}

.App-logo {
  height: 30vmin;
}

.App-body {
  color: black;
}

.App-body p {
  margin-top: 50px;
  margin-left: 50px;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 3px solid rgb(247, 72, 72);
  font-style: italic;
}
