.App-footer {
    border-top: 0.2rem solid rgb(241, 62, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0.5rem;
    padding-bottom: 1rem;
  }  